<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gms">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ShowNotifications" />
        <activity android:name=".activities.StaffPassChange" />
        <activity android:name=".activities.SubscibedPlan" />
        <activity android:name=".activities.MemberNotification" />
        <activity android:name=".activities.AdminNotification" />
        <activity android:name=".activities.MemberPassChange" />
        <activity android:name=".activities.AdminPassChange" />
        <activity android:name=".activities.MemberProfile" />
        <activity android:name=".activities.PictureGallery" />
        <activity android:name=".activities.AddPicture" />
        <activity android:name=".activities.GalleryAdmin" />
        <activity android:name=".activities.StaffUpdate" />
        <activity android:name=".activities.DeleteNews" />
        <activity android:name=".activities.DeleteEvent" />
        <activity android:name=".activities.DeletePlans" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.TrainersUpdate" />
        <activity android:name=".activities.StaffDetails" />
        <activity android:name=".activities.MembersDetails" />
        <activity android:name=".activities.TrainerDetail" />
        <activity android:name=".activities.AboutUs" />
        <activity android:name=".activities.PrivacyPolicy" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.ShowMembers" />
        <activity android:name=".activities.StaffMemberItem" />
        <activity android:name=".activities.StaffMain" />
        <activity android:name=".activities.ViewTrainers" />
        <activity android:name=".activities.MemberAttendance" />
        <activity android:name=".activities.AddTiming" />
        <activity android:name=".activities.AddEvent" />
        <activity android:name=".activities.AddPlans" />
        <activity android:name=".activities.AddNews" />
        <activity android:name=".activities.AddStaff" />
        <activity android:name=".activities.AddTrainer" />
        <activity android:name=".activities.MembersActivity" />
        <activity android:name=".activities.TrainerActivity" />
        <activity android:name=".activities.StaffActivity" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FireMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>